@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap");

html {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.button {
  border: 2px solid #cdf9ab;
  margin: 15px 20vw;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  color: white;
  background: #a7f967;
  border: 5px solid #cdf9ab;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  animation: shake 0.3s ease-in-out;
}

.custom-link {
  text-decoration: none;
  color: inherit;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

.advice-item {
  background-color: #e2f0ff; /* Set your desired background color */
  padding: 10px;
  margin-bottom: 10px;
}

.advice-item:hover {
  transform: scale(1.05);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 5vh;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.advice-item {
  background-color: #e2f0ff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  transition: transform 0.3s ease;
}

.advice-item:hover {
  transform: none;
}
